################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TimeEntryManager/v17/TestStore/0/003.testlog
